<div>
	<h1>Sample SPA with Ampersand</h1>
	<article>
		<button id="loadCat">Load Cat</button>
		<div id="catMessage"></div>
	</article>
	<article>
		<button id="loadDog">Load Dog</button>
		<div id="dogMessage"></div>
	</article>
	<article>
		<button id="loadWolf">Load Wolf</button>
		<div id="wolfMessage"></div>
	</article>
</div>